*{
    margin: auto;
    scroll-behavior: smooth;
}
:root{
    --txt: 'Montserrat', sans-serif;
}
.centerbox{
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
}
.button{
    background-color: rgb(0, 0, 0);
    border-radius: 50% 50%;
    animation: radial-pulse 2s infinite;
    position: fixed;
    left: 50%;
    top: 53%;
    width: 5rem;
    height: 5rem;
    margin-left: -2.5rem;
    margin-top: -3rem;
    cursor: pointer;
}
.allinfo{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.skills{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    
}
.allinfo p{
    display: none;
}
p{
    font-size: 25px;
    font-family: var(--txt);
}
a{
    text-decoration: none;
    font-family: var(--txt);
    color: black;
    font-size: 25px;
}
.project{
    height: 3em;
    font-family: var(--txt);
    cursor: pointer;
    display: inline-block;
    margin-bottom: 13rem;
}
.projectgml{
    height: 3em;
    font-family: var(--txt);
    cursor: pointer;
    display: inline-block;
    margin-bottom: 13rem;
}
.porfys{
    display: flex;
    flex-direction: column;
    margin-bottom: 14rem;
}
.porfysdwn{
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}
.downinfo{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    max-width: 65%;
    cursor: pointer;
}
.downinfoportf{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    max-width: 70%;
    cursor: pointer;
}
.downlogo{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    max-width: 45%;
}
.myinfo{
    height: 3em;
    font-family: var(--txt);

}
.contact{
    height: 3em;
    font-family: var(--txt);
    cursor: pointer;
}
img{
    width: 8rem;
    height: 8rem;
    opacity: 0.65;
}
.porfphoto{
    opacity: 1;
}
button{
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    font-family: var(--txt);
    color: black;
    font-size: 25px;
}
.tooltip{
    max-width: 18rem;
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 40px;
    text-align: center;
    font: var(--txt);
    font-size: 25px;
    color: black;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
  }



  /* анимация центральной кнопки */
@keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    }
   
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }


/* медиазапрос */
@media(min-width: 0px) and (max-width: 600px){
.downinfo{
    text-align: center;
    flex-direction:column;
}
.project{
    margin-top: 6rem;
    margin-bottom: 7rem;
}
/* .downinfoportf{
    margin-top: 20rem;
} */
.porfys{
    margin-top: 3rem;
    margin-bottom: 14rem;
}
.goto{
    margin-right: 2rem;
}
}
